@import 'system'

.index
  text-align center
  margin auto

  img 
    padding 200px 0 0 0 
    width 280px
    height 280px

  .input
    width 150px
    margin auto

  a
    color default_color
    text-decoration none
  a:hover
    color primary_color

  




