@import 'system'
.topMenu
  position fixed
  z-index 600
  top 0px
  left 0px  
  right 0px
  background-color primary_color
  display grid
  grid-template-columns 70px 1fr 90px
  grid-template-row 70px 
  align-items center
  justify-content start

  img
    width 60px
    height 60px
    vertical-align middle

  a
    text-decoration none
    color default_color
    margin-left 20px

  a:hover
   color white
   cursor pointer 


  