{
  "presets": ["es2015", "stage-0"],
  "comments": false
}


/* {
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "chrome": 56,
          "browsers": ["> 5%", "ie >= 7"]
        }
      }
    ]
  ]
} */
